.content {
  max-width: 46rem;
  width: 100%;

  margin: 0 auto;
}

.taskInfoContainer {
  display: flex;
  flex: 1;

  justify-content: space-between;
  gap: 0.5rem;
}

.taskInfoContainer input,
.taskInfoContainer button {
  transform: translateY(-50%);
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tasksList>div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.searchForm {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  height: 2.5rem;

  input {
    flex: 1;
    border-radius: 6px;
    border: 0;
    background: var(--gray-500);
    color: var(--gray-100);
    padding: 1rem;

    input:placeholder {
      color: var(--gray-500);
    }
  }
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2.5rem;
  padding: 1rem;

  background-color: var(--blue-dark);
  color: var(--gray-100);

  border: 0;
  border-radius: 8px;
  gap: 0.5rem;
  box-shadow: none;

  line-height: 140%;
  font-weight: bold;
  font-size: 0.875rem;

  transition: 0.2s;
}

.searchButton:hover {
  background-color: var(--blue);
}

.searchButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.select {
  background: var(--gray-500);
  border: 0;
  border-radius: 6px;
  color: var(--gray-100);
  font-size: 0.950rem;
  transition: 0.2s all;
  padding: 5px;
}

;